.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}
.book-img{
    width: 75px;
    height: 75px;
    
}
.banner{
    font-size: 3rem;
}
#b-1{
    
}
#b-2{
    color:#BE6A3F
}